snippet core
	.group:before,
	.group:after 
		content: ""
		display: table

	.group:after 
		clear: both

	.group 
		zoom: 1 

	.fleft
		float: left

	.fright
		float: right

	a 
		color: #4183C4
		text-decoration: none

		&:link,
		&:visited 
			color: #3366CC

	nav.horizontal li
		display: inline-block
